body {
	height: 100vh;
	text-align: center;
	margin: 0;
	vertical-align: middle;
	position: relative;
}

#result {
	font-size: 100px;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 40%;
	left: 40%;
}
